<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
  <mat-tab  label="LAB 2">
    <div class="block">
      Завдання №1 [Pipe]
      <br><br><b>Введіть текст: </b><input  [(ngModel)]="newText">
      <br><b>Результат: </b> {{newText | format:2}}
    </div>
    <div class="block">
      Завдання №2 [Pipe with param]
      <br><br><br><b>Введіть текст: </b><input  [(ngModel)]="newText">
      <br><b>Введіть параметр: </b><input  [(ngModel)]="newParam">
      <br><b>Результат: </b> {{newText | format:newParam}}
    </div>
    <div class="block">
      Завдання №3 [Directive]
      <br><br><br><b>Введіть текст: </b>
      <input type="text" positivenumbers [(ngModel)]="newTextDirective">
    </div>
    <div class="block">
      <h1>Відповіді на питання</h1> <br>
      <b>1. Яка різниця між структурною та атрибутивною директивою?</b><br>
      Структурна диреткива використовується для формуання чи переформування HTML DOM щлящом додавання чи видалення елементів.<br>
      Директиви атрибутів використовуються для зміни зовнішнього виду або поведінки елемента. Атрибутивні директиви не мають можливості змінювати структуру DOM.<br><hr>
      <b>2. Що таке trackByFn?</b><br>
      При використанні ngFor для зациклювання масиву в шаблонах, звертайтеся до функції trackBy, яка повертає унікальний ідентифікатор кожного елемента.<br><hr>
      <b>3. Яка різниця між ngIf та display: none?</b><br>
      Головне значення між angular ngIf directive & hidden or display:none є те що ngIf додасть або видалить елемент з DOM на основі умови або виразу, а display:none окаже або приховає елемент HTML. <br><hr>
      <b>4. Пояснити decimal pipe</b><br>
      Decimal Pipe — це один із вбудованих каналів у Angular, який використовується для форматування десяткових чисел відповідно до даних про десяткові цифри та інформації про місцевість.<br>
       numeric_value | number [ : digitsInfo [ : locale ] ] <br><hr>
    </div>
  </mat-tab>
  <mat-tab label="LAB 3"> Content 3 </mat-tab>
  <mat-tab label="LAB 4"> Content 4 </mat-tab>
  <mat-tab label="LAB 5"> Content 5 </mat-tab>
  <mat-tab label="LAB 6"> Content 6 </mat-tab>
  <mat-tab label="LAB 7"> Content 7 </mat-tab>

</mat-tab-group>





